
.bbest-accordion-wrapper > * {
    font-family: 'Barlow';
    font-style: normal;
    letter-spacing: 0px;
}
.bbest-accordion-wrapper {
	margin-top: 130px!important;	
	margin-bottom: 250px!important;
}
.bbest-accordion-wrapper .one {
	font-size: 24px;
	font-weight: 600;
	color: #000099;
}
.bbest-accordion-tag {
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;;
	text-align: center;
	color: #000099;
}
.bbest-accordion-title {
    font-size: 52px;
	font-weight: 600;
	line-height: 56px;
	text-align: center;
	color: #000099;
}
.bbest-accordion-column-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	text-align: left;
	color: #0066FF;
}
/* attention to accordion-item and accordion-button they are classes from bootstrap */
.accordion-button > img {
  padding: 0px 20px 0px 0px !important;
}
.accordion-button > p {
margin: auto!important;
}
.accordion-button:focus {
  box-shadow: none!important;
}
.accordion-item:not(:first-of-type) {
  border-top: 1px solid rgba(0,0,0,.125)!important;
	border: 1px solid rgba(0,0,0,.125)!important;

}
.accordion-button:not(.collapsed){
	background-color: white!important;
	box-shadow: none!important;
}
.accordion-button:focus {
	border-color: none!important;
	box-shadow: none!important;
}
.accordion-button {
	border-radius: 15px!important;
}
.accordion-item {
	border-radius: 15px!important;
  border-top: 1px solid rgba(0,0,0,.125)!important;
	border: 1px solid rgba(0,0,0,.125)!important;
	margin-top: 10px!important;
}

